.navPro {
  background-color: rgba(147, 202, 222, 0.0509803922);
  padding: 10px;
  border: 1px solid rgba(68, 68, 68, 0.2);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.navPro h6 {
  font-size: 14px;
}
.navPro .filter_price {
  display: flex;
  align-items: center;
}
.navPro .filter_price form {
  position: relative;
  text-align: end;
}
.navPro .filter_price form select {
  background-color: #7fd3df;
  color: #fff;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 25px;
  border: 0;
  outline: none;
}
.navPro .filter_price form select option {
  background-color: #fff;
  color: #000;
}
.navPro .filter_price label {
  margin: 0 0 0 15px;
  font-weight: 400;
}
.navPro .filter_number {
  display: flex;
  align-items: center;
  justify-content: end;
}
.navPro .filter_number .div_filNum {
  display: flex;
}
.navPro .filter_number .div_filNum button {
  transition: all 0.5s;
  margin: 0 10px;
  color: #c4c4c4;
  background-color: transparent;
}
.navPro .filter_number .div_filNum .active {
  color: #7fd3df;
  font-weight: bolder;
}
.navPro .filter_number h6 {
  margin: 0 0 0 15px;
}
.navPro .filter_all_div {
  display: flex;
  justify-content: end;
  align-items: center;
  transition: all 0.5s;
}
.navPro .filter_all_div .icon_filBig,
.navPro .filter_all_div .btnActiveIcon {
  background-color: transparent;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.navPro .filter_all_div .icon_filBig span,
.navPro .filter_all_div .btnActiveIcon span {
  background-color: #000;
  width: 20px;
  height: 2px;
  border-radius: 10px;
  position: absolute;
  top: 23px;
  right: 10px;
}
.navPro .filter_all_div .icon_filBig span:nth-child(1),
.navPro .filter_all_div .btnActiveIcon span:nth-child(1) {
  width: 10px;
  top: 17px;
}
.navPro .filter_all_div .icon_filSmall,
.navPro .filter_all_div .btnActiveIcon {
  background-color: transparent;
  font-size: 20px;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.navPro .filter_all_div .btnActiveIcon {
  background-color: #7fd3df;
  color: #fff;
}
.navPro .filter_all_div .btnActiveIcon span {
  background-color: #fff;
}
.navPro .filter_all_div h6 {
  margin: 0 0 0 15px;
}

@media (max-width: 360px) {
  .navPro {
    border-radius: 8px;
    grid-template-columns: repeat(2, 1fr);
  }
  .navPro h6 {
    font-size: 13px;
  }
  .navPro .filter_price {
    display: none;
  }
  .navPro .filter_number .div_filNum button {
    margin: 0 0 0 15px;
  }
  .navPro .filter_number h6 {
    margin: 0 0 0 15px;
  }
  .navPro .filter_all_div {
    display: none;
  }
}
@media (min-width: 360px) {
  .navPro {
    border-radius: 8px;
    grid-template-columns: repeat(2, 1fr);
  }
  .navPro h6 {
    font-size: 15px;
  }
  .navPro .filter_price {
    display: none;
  }
  .navPro .filter_number .div_filNum button {
    margin: 0 0 0 20px;
  }
  .navPro .filter_number h6 {
    margin: 0 0 0 15px;
  }
  .navPro .filter_all_div {
    display: none;
  }
}
@media (min-width: 768px) {
  .navPro {
    border-radius: 8px;
    grid-template-columns: repeat(2, 1fr) 15%;
  }
  .navPro h6 {
    font-size: 13px;
  }
  .navPro .filter_price {
    display: none;
  }
  .navPro .filter_number {
    justify-content: flex-start;
  }
  .navPro .filter_number .div_filNum button {
    margin: 0 0 0 15px;
  }
  .navPro .filter_number h6 {
    margin: 0 0 0 15px;
  }
  .navPro .filter_all_div {
    display: flex;
    justify-content: center;
  }
  .navPro .filter_all_div h6 {
    margin: 0 0 0 10px;
  }
}
@media (min-width: 860px) {
  .navPro {
    border-radius: 8px;
    grid-template-columns: repeat(2, 1fr) 15%;
  }
  .navPro h6 {
    font-size: 13px;
  }
  .navPro .filter_price {
    display: none;
  }
  .navPro .filter_number {
    justify-content: flex-start;
  }
  .navPro .filter_number .div_filNum button {
    margin: 0 0 0 20px;
  }
  .navPro .filter_number h6 {
    margin: 0 0 0 20px;
  }
  .navPro .filter_all_div {
    display: flex;
  }
  .navPro .filter_all_div h6 {
    margin: 0 0 0 20px;
  }
}
@media (min-width: 1024px) {
  .navPro {
    grid-template-columns: repeat(3, 1fr);
  }
  .navPro h6 {
    font-size: 13px;
  }
  .navPro .filter_price {
    display: flex;
  }
  .navPro .filter_price form select {
    width: 121px;
  }
  .navPro .filter_price label {
    margin: 0 0 0 5px;
    font-size: 13px;
  }
  .navPro .filter_number {
    justify-content: flex-start;
  }
  .navPro .filter_number .div_filNum button {
    margin: 0 0 0 15px;
    font-size: 16px;
  }
  .navPro .filter_number h6 {
    margin: 0 0 0 15px;
  }
  .navPro .filter_all_div {
    justify-content: end;
  }
  .navPro .filter_all_div h6 {
    margin: 0 0 0 15px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .navPro .filter_price {
    display: flex;
  }
  .navPro .filter_price form select {
    width: 150px;
  }
  .navPro .filter_price label {
    margin: 0 0 0 20px;
    font-size: 16px;
  }
  .navPro .filter_number {
    justify-content: center;
  }
  .navPro .filter_number .div_filNum button {
    margin: 0 0 0 20px;
    font-size: 17px;
  }
  .navPro .filter_number h6 {
    margin: 0 0 0 20px;
  }
  .navPro .filter_all_div {
    justify-content: end;
  }
  .navPro .filter_all_div h6 {
    margin: 0 0 0 20px;
  }
}/*# sourceMappingURL=NavPro.module.css.map */