.cart {
  padding: 15vh 0 0;
}
.cart .header {
  position: relative;
}
.cart .header .img_header img {
  width: 100%;
}
.cart .header .title_header {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.cart .header .title_header h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}
.cart .header .title_header .name_and_link {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 20px;
}
.cart .header .title_header .name_and_link span {
  color: red;
  margin: 0 20px;
}
.cart .header .title_header .name_and_link a {
  color: #fff;
}
.cart .div_cart {
  width: 90%;
  margin: 10vh auto;
}
.cart .div_cart h3 {
  text-align: end;
  font-weight: 800;
}
.cart .div_cart .cartPro_coupon {
  margin-top: 4vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cart .div_cart .cartPro_coupon .cartPro .title {
  display: grid;
  grid-template-columns: 16% 16% 16% auto;
  text-align: center;
  font-weight: 600;
}
.cart .div_cart .cartPro_coupon .cartPro .massageCart {
  margin-top: 5vh;
  padding: 0 20px 20px 0;
  text-align: end;
  font-size: 20px;
  border-bottom: 1px solid rgba(147, 202, 222, 0.3019607843);
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts {
  display: grid;
  grid-template-columns: 16% 16% 16% auto 5%;
  padding: 10px 0;
  text-align: center;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .inc_or_dec_prod {
  width: 75px;
  height: 25px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d1d1d1;
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .inc_or_dec_prod button {
  width: 25px;
  font-size: 17px;
  font-weight: 700;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .inc_or_dec_prod p {
  height: 25px;
  margin: 0;
  display: flex;
  align-items: center;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .price h6 {
  font-size: 13px;
  margin: 0;
  font-weight: 600;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .infoPro {
  display: flex;
  justify-content: end;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .infoPro .name_and_weight_and_color {
  margin-right: 10px;
  width: 90%;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .infoPro .name_and_weight_and_color h3 {
  font-size: 13px;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  margin: 0;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .infoPro .name_and_weight_and_color p {
  margin: 5px 0 0;
  text-align: end;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .infoPro .img_cart {
  width: 100px;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .infoPro .img_cart img {
  width: 100%;
  height: 20vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .delete_cart {
  text-align: end;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .delete_cart button {
  color: #7FD3DF;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  width: 15px;
}
.cart .div_cart .cartPro_coupon .cartPro .div_Carts .border_bottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: rgba(202, 202, 202, 0.3019607843);
  width: 100%;
  height: 2px;
}
.cart .div_cart .cartPro_coupon .cartPro .btn_back_deleteAll {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}
.cart .div_cart .cartPro_coupon .cartPro .btn_back_deleteAll button {
  font-weight: 700;
  color: #7FD3DF;
  background-color: transparent;
}
.cart .div_cart .cartPro_coupon .cartPro .btn_back_deleteAll a {
  color: #7FD3DF;
}

@media (max-width: 360px) {
  .cart {
    padding: 13vh 0 0;
  }
  .cart .header .img_header img {
    height: 20vh;
  }
  .cart .header .title_header {
    top: 50%;
    left: 40%;
    width: 80%;
    text-align: center;
  }
  .cart .header .title_header h2 {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .cart .header .title_header .name_and_link {
    font-size: 14px;
  }
  .cart .header .title_header .name_and_link span {
    margin: 0 13px;
  }
  .cart .div_cart .cartPro_coupon {
    grid-template-columns: 1fr;
    row-gap: 10vh;
  }
  .cart .div_cart .cartPro_coupon .cartPro {
    grid-row: 1/2;
  }
  .cart .div_cart .cartPro_coupon .cartPro .title {
    grid-template-columns: 18% 18% 18% auto;
  }
  .cart .div_cart .cartPro_coupon .cartPro .title p {
    font-size: 13px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .massageCart {
    font-size: 16px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll {
    height: 70vh;
    overflow: scroll;
    border-bottom: 1px solid rgba(147, 202, 222, 0.3019607843);
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts {
    grid-template-columns: repeat(4, 1fr) 4%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod {
    width: 50px;
    background-color: #fff;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod button {
    width: 17px;
    font-size: 13px;
    padding: 4px 0;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .price h6 {
    font-size: 11px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro {
    padding: 1px;
    width: 120px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color {
    margin-right: 5px;
    width: 100%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color h3 {
    font-size: 11px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color p {
    font-size: 12px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .img_cart {
    width: 80px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .img_cart img {
    width: 100%;
    height: 100%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .delete_cart button {
    font-weight: 500;
    font-size: 15px;
    width: 10px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .btn_back_deleteAll {
    font-size: 13px;
  }
}
@media (min-width: 360px) {
  .cart {
    padding: 13vh 0 0;
  }
  .cart .header .img_header img {
    height: 23vh;
  }
  .cart .header .title_header {
    top: 55%;
    width: 80%;
    text-align: center;
  }
  .cart .header .title_header h2 {
    font-size: 17px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .cart .header .title_header .name_and_link {
    font-size: 15px;
  }
  .cart .header .title_header .name_and_link span {
    color: red;
    margin: 0 13px;
  }
  .cart .div_cart .cartPro_coupon {
    grid-template-columns: 1fr;
    row-gap: 10vh;
  }
  .cart .div_cart .cartPro_coupon .cartPro {
    grid-row: 1/2;
  }
  .cart .div_cart .cartPro_coupon .cartPro .title {
    grid-template-columns: 17.5% 17.5% 17.5% auto;
  }
  .cart .div_cart .cartPro_coupon .cartPro .title p {
    font-size: 13px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll {
    height: 85vh;
    overflow: scroll;
    border-bottom: 1px solid rgba(147, 202, 222, 0.3019607843);
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts {
    grid-template-columns: 17% 17% 17% auto 5%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod {
    width: 60px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod button {
    width: 19px;
    font-size: 13px;
    padding: 5px 0;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .price h6 {
    font-size: 12px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color {
    margin-right: 10px;
    width: 80%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color h3 {
    font-size: 11px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color p {
    font-size: 12px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .img_cart {
    width: 80px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .img_cart img {
    width: 100%;
    height: 100%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .delete_cart button {
    font-size: 15px;
    width: 10px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .btn_back_deleteAll {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .cart {
    padding: 17vh 0 0;
  }
  .cart .header .img_header img {
    height: auto;
  }
  .cart .header .title_header {
    top: 50%;
    left: 50%;
    width: 80%;
  }
  .cart .header .title_header h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .cart .header .title_header .name_and_link {
    font-size: 18px;
  }
  .cart .header .title_header .name_and_link span {
    margin: 0 15px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .title {
    grid-template-columns: 17.5% 17.5% 17.5% auto;
  }
  .cart .div_cart .cartPro_coupon .cartPro .title p {
    font-size: 14px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll {
    height: 85vh;
    overflow: scroll;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts {
    grid-template-columns: 17% 17% 17% auto 5%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod {
    width: 60px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod button {
    width: 18px;
    font-size: 13px;
    padding: 5px 0;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .price h6 {
    font-size: 13px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color {
    margin-right: 10px;
    width: 80%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color h3 {
    font-size: 13px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color p {
    font-size: 15px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .img_cart {
    width: 80px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .img_cart img {
    width: 100%;
    height: 100%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .delete_cart button {
    font-size: 15px;
    width: 10px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .btn_back_deleteAll {
    font-size: 16px;
  }
}
@media (min-width: 860px) {
  .cart {
    padding: 17vh 0 0;
  }
  .cart .header .img_header img {
    height: auto;
  }
  .cart .header .title_header h2 {
    font-size: 30px;
  }
  .cart .header .title_header .name_and_link {
    font-size: 20px;
  }
  .cart .header .title_header .name_and_link span {
    margin: 0 20px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .title p {
    font-size: 16px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll {
    height: 90vh;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod {
    width: 80px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod button {
    width: 22px;
    font-size: 15px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .price h6 {
    font-size: 15px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color {
    margin-right: 10px;
    width: 80%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color h3 {
    font-size: 14px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .delete_cart button {
    font-size: 16px;
    width: 10px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .btn_back_deleteAll {
    font-size: 17px;
  }
}
@media (min-width: 1024px) {
  .cart {
    padding: 19vh 0 0;
  }
  .cart .header .title_header h2 {
    font-size: 35px;
  }
  .cart .div_cart .cartPro_coupon {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart .div_cart .cartPro_coupon .cartPro {
    grid-column: 2/3;
  }
  .cart .div_cart .cartPro_coupon .cartPro .title {
    grid-template-columns: 17% 17% 17% auto;
  }
  .cart .div_cart .cartPro_coupon .cartPro .title p {
    font-size: 14px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll {
    height: auto;
    overflow: auto;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts {
    grid-template-columns: 17% 17% 17% auto 5%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod {
    width: 70px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod button {
    width: 20px;
    font-size: 15px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .price h6 {
    font-size: 13px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color {
    width: 85%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color h3 {
    font-size: 13px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color p {
    font-size: 14px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .img_cart {
    width: 80px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .delete_cart button {
    font-size: 15px;
    width: 13px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .btn_back_deleteAll {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .cart {
    padding: 15vh 0 0;
  }
  .cart .header .title_header h2 {
    font-size: 40px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .title {
    grid-template-columns: 16% 16% 16% auto;
  }
  .cart .div_cart .cartPro_coupon .cartPro .title p {
    font-size: 14px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts {
    grid-template-columns: 16% 16% 16% auto 5%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod {
    width: 75px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .inc_or_dec_prod button {
    width: 25px;
    font-size: 17px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .name_and_weight_and_color {
    width: 90%;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .infoPro .img_cart {
    width: 100px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .cartProScroll .div_Carts .delete_cart button {
    font-size: 16px;
    width: 15px;
  }
  .cart .div_cart .cartPro_coupon .cartPro .btn_back_deleteAll {
    font-size: 20px;
  }
}/*# sourceMappingURL=cart.module.css.map */