.paner {
  font-family: "Tajawal", sans-serif;
  margin-top: 25vh;
}
.paner .all_paner {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 3%;
       column-gap: 3%;
}
.paner .all_paner .dev_paner1,
.paner .all_paner .dev_paner2 {
  overflow: hidden;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #FFDBDF;
  position: relative;
}
.paner .all_paner .dev_paner1 .desc,
.paner .all_paner .dev_paner2 .desc {
  text-align: end;
  z-index: 1;
  height: 25vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.paner .all_paner .dev_paner1 .desc h3,
.paner .all_paner .dev_paner2 .desc h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  margin-bottom: 10px;
}
.paner .all_paner .dev_paner1 .desc p,
.paner .all_paner .dev_paner2 .desc p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.paner .all_paner .dev_paner1 .desc .lin,
.paner .all_paner .dev_paner2 .desc .lin {
  display: flex;
  justify-content: end;
}
.paner .all_paner .dev_paner1 .desc .lin a,
.paner .all_paner .dev_paner2 .desc .lin a {
  width: 110px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 3px solid #45cadf;
}
.paner .all_paner .dev_paner1 .img_paner,
.paner .all_paner .dev_paner2 .img_paner {
  position: absolute;
  right: -55px;
  bottom: -15px;
}
.paner .all_paner .dev_paner2 {
  background-color: #7FD3DF;
}
.paner .all_paner .dev_paner2 .img_paner {
  right: -35px;
}

@media (max-width: 425px) {
  .paner {
    margin-top: 10vh;
  }
  .paner .all_paner {
    width: 90%;
    grid-template-columns: 1fr;
    row-gap: 6vh;
  }
  .paner .all_paner .dev_paner1,
  .paner .all_paner .dev_paner2 {
    grid-template-columns: 1fr;
  }
  .paner .all_paner .dev_paner1 .desc,
  .paner .all_paner .dev_paner2 .desc {
    transform: translate(-50%, 0%);
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8470588235);
  }
  .paner .all_paner .dev_paner1 .desc h3,
  .paner .all_paner .dev_paner2 .desc h3 {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .paner .all_paner .dev_paner1 .desc p,
  .paner .all_paner .dev_paner2 .desc p {
    font-size: 22px;
    margin-bottom: 8px;
  }
  .paner .all_paner .dev_paner1 .desc .lin,
  .paner .all_paner .dev_paner2 .desc .lin {
    justify-content: center;
  }
  .paner .all_paner .dev_paner1 .desc .lin a,
  .paner .all_paner .dev_paner2 .desc .lin a {
    width: 105px;
    color: #fff;
    border-bottom: 2px solid #45cadf;
    text-align: end;
  }
  .paner .all_paner .dev_paner1 .img_paner,
  .paner .all_paner .dev_paner2 .img_paner {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .paner .all_paner .dev_paner1 .img_paner img,
  .paner .all_paner .dev_paner2 .img_paner img {
    width: 100%;
    height: 50vh;
  }
  .paner .all_paner .dev_paner2 .img_paner {
    right: 10px;
  }
}
@media (min-width: 425px) {
  .paner {
    margin-top: 10vh;
  }
  .paner .all_paner {
    width: 90%;
    grid-template-columns: 1fr;
    row-gap: 6vh;
  }
  .paner .all_paner .dev_paner1 .desc .lin a,
  .paner .all_paner .dev_paner2 .desc .lin a {
    width: 105px;
    border-bottom: 2px solid #45cadf;
  }
  .paner .all_paner .dev_paner1 .img_paner,
  .paner .all_paner .dev_paner2 .img_paner {
    position: absolute;
    right: -55px;
    bottom: -15px;
  }
  .paner .all_paner .dev_paner1 .img_paner img,
  .paner .all_paner .dev_paner2 .img_paner img {
    width: 100%;
    height: 50vh;
  }
  .paner .all_paner .dev_paner2 .img_paner {
    right: -35px;
  }
}
@media (min-width: 768px) {
  .paner {
    margin-top: 15vh;
  }
  .paner .all_paner .dev_paner1 .desc .lin a,
  .paner .all_paner .dev_paner2 .desc .lin a {
    border-bottom: 3px solid #45cadf;
  }
  .paner .all_paner .dev_paner1 .img_paner,
  .paner .all_paner .dev_paner2 .img_paner {
    right: -10px;
  }
  .paner .all_paner .dev_paner2 .img_paner {
    right: 20px;
  }
}
@media (min-width: 860px) {
  .paner {
    margin-top: 20vh;
  }
  .paner .all_paner {
    grid-template-columns: repeat(2, 1fr);
  }
  .paner .all_paner .dev_paner1 .desc h3,
  .paner .all_paner .dev_paner2 .desc h3 {
    font-size: 29px;
  }
  .paner .all_paner .dev_paner1 .img_paner,
  .paner .all_paner .dev_paner2 .img_paner {
    right: -75px;
  }
  .paner .all_paner .dev_paner2 .img_paner {
    right: -50px;
  }
}
@media (min-width: 1024px) {
  .paner {
    margin-top: 25vh;
  }
  .paner .all_paner .dev_paner1 .desc h3,
  .paner .all_paner .dev_paner2 .desc h3 {
    font-size: 32px;
  }
  .paner .all_paner .dev_paner1 .img_paner,
  .paner .all_paner .dev_paner2 .img_paner {
    right: -55px;
  }
  .paner .all_paner .dev_paner2 .img_paner {
    right: -35px;
  }
}/*# sourceMappingURL=paner.module.css.map */